@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

* {
 font-family: 'Roboto', sans-serif;
 padding: 0;
 margin: 0;
 box-sizing: border-box;

}



a {
    text-decoration: none;
}

li {
    list-style: none;
}

.text--color {
  color: #6371b9;
}

button:active {
    transform: translateY(2px);
  }

p {
    color: #242424;
}

.containerq:nth-child(even){
    background-color: #f8f8f8;
  }

html {
    scroll-behavior: smooth;
}

/* HEADER */

nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__left {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav__img--text {
    margin: 8px;
}

.nav__link--space {
    margin: 0 24px;
}

.nav__link {
    display: flex;
}

.nav__img--logo {
    width: 50px;
    margin: 16px 0;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
}

.nav__link--hover {
    color: black;
    font-weight: bold;
}

.nav__link--button {
    margin: 30px;
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.nav__link--primary {
    background-color: #6371b9;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    background-color: #242424;
}

.nav__link--hoverr {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.nav__link--hoverr:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #6415FF;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.nav__link--hoverr:hover,
.nav__link--hoverr:focus:before,
.nav__link--hoverr:active:before {
    left: 0;
    right: 0;
}

/* 


PAGE 1 


*/ 

.page1 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 80px;
}

.page1__left {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 8px;
}

.page1__left--title {
    font-size: 52px;
    margin-top: 100px;
}

.page1__left--para {
    padding-top: 25px;
    text-align: left;
    line-height: 1.5;
}


.page1__email input {
    font-size: 18px;
    padding: 15px 20px;
    border: none;
    outline: none;
    background: none;
}

.page1__email button {
    color: #f8f8f8;
    background-color: #6371b9;
    border: none;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 300ms ease;
}
.page1__email button:hover {
    background-color: #242424;

}

.page1__submit {
    margin-top: 50px;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8 ;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    border-radius: 50px
}

.page1__right {
    width: 60%;
    height: 100%;

}

.page1__img--right {
   width: 100%;
   height: 100%;
   margin-top: 50px
}


/* 


SERVICES


*/ 

.container {
    padding: 80px 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.features__intro {
    margin-bottom: 20px;
}

.features__title--para {
    margin-top: 20px;
    max-width: 700px;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1100px;
    margin-top: 40px;

}

.service__icon {
    color: #242424;
    width: 30px;
}

.services__6 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 300px;
    margin: 0 50px;
    padding: 32px 8px;
}

.service__6-1 {
    margin-left: 16px;
}

.service__title {
    margin-bottom: 8px;
    font-size: 24px;
}

.service__title--para {
    text-align: left;
    font-weight: 500;
    line-height: 2;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
}


/* 


GUIDE--RIGHT


*/ 

.guide {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.guide__step--big {
    font-size: 40px;
}

.guide__step--small {
    font-size: 10px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    padding: 8px 5px;
    box-shadow: 0 8px 16px rgba(97, 6, 166, 0.16);
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
}
.guide__right {
    width: 50%
}

.guide__02 {
    display: flex;
    flex-direction: column;
}

.guide__01 {
    color: #242424;
    width: 30px;
    margin-right: 40px;
}

.guide__right--01 {
    font-size: 40px;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));
}

.guide__right--step {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 50px;
    padding: 32px 8px;
}

.guide__title--right {
    margin-bottom: 8px;
    font-size: 24px;
}

.guide__right--para {
    text-align: left;
    font-weight: 500;
    line-height: 2;
}
.guide__left {
    display: flex;
    flex-direction: end;
    width: 100%;
    margin: 8px;
    
    
}

.guide__img--left {
    width: 500px;
    height: 100%;
    margin-top: 50px
}

/* 

VALUES

*/

.value {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 80px 0;
}

.value__right {
    width: 40%;
}


.valuee {
    width: 100%;
}

.value__row {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.standards {
    margin-bottom: 30px;
}

.value__title {
   margin-bottom: 20px;
}

.value__para,
.value__right--prin-para {
    text-align: left;
    left: 0;
    line-height: 1.5;
    --tw-text-opacity: 1;
    color: rgb(124 139 161 / var(--tw-text-opacity));

}

.value__right--icon1 {
    width: 40px;
}

.value__right--icon {
    padding-right: 10px;
}

.value__right--prin {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.value__right--prin-title {
    color: darkred;
    font-weight: 100;
}


.value__left {
    width: 60%;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.value__left--img1 {
    width: 100%;
    padding: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
}

.move {
    position: absolute;
    left: 1330px;
    margin: 50px;
    animation: animate-profile-picture infinite 1s 1s backwards ;
}


@keyframes animate-profile-picture {

    0% {
      transform: scale(.7);
    }
  
    80% {
      transform: scale(.9);
    }
  
    100% {
      transform: scale(1);
    }
    
  }

  
/* 

PLANS

*/

.header__price-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.header__price--intro {
    padding-bottom: 30px;
    font-size: 10px;
}

.header__price--title-1 {
    font-weight: 100000;
    font-size: 3rem;
    padding-bottom: 10px;
}

.header__title--para-1 {
    text-align: center;
    line-height: 1.5;
    opacity: .6;
}

.header__price-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 494px;
    max-width: 24rem;
    margin: 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.46);
    
}

.header__price-11 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 494px;
    max-width: 24rem;
    margin: 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.46);
}


.header__price-3  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 494px;
    max-width: 24rem;
    margin: 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.46);
}
.header__price-2-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 25px;

}

.header__price-2--title-2{
    font-size: 20px;
    font-weight: 1000;
    color: rgb(203, 7, 7);
}

.header__price-2--title-22 {
    color: #6371b9;
     
}

.header__price-2--title-23 {
    color: rgb(230, 199, 29);
}
.header__price-2--para {
    padding-top: 20px;
    opacity: .6;
}

.header__price-2--plan {
    font-size: 40px;
}



.header__move {
    margin: 20px 0;
    text-align: center;
}

.body__plan {
    text-align: center;
}

.body__features {
    max-width: 270px;
    line-height: 4;
}

.Dox__code {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
}

 .buy__now {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
     
 }

 .buy__1 {
     font-weight: bold;
     text-decoration: none;
     border-radius: 20px;
 }

 .buy__2 {
    background-color: #393c44;
    padding: 8px 100px;
    color: white;
    transition: all 300ms ease;
 }

 .buy__2:hover {

   background-color: #06f06f;
    
 }

 /* FOOTER */

footer {
    background-color: #242424;
  }
  
  .footer__row {
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .footer__logo--img {
    box-shadow: 10px 10px rgba(246, 245, 245, 0.45);
    width: 70px;
    height: 70px;
    border-radius: 10px;
  }
  
  .footer__social--link {
    color: #fff;
    width: 100%;
    margin: 25px;
  }
  
  .footer__logo--popper {
    color: #f8f8f8;
  }
   
  .footer__logo--popper {
    position: absolute;
    right: 0;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease-out;
  }
  
  .footer__anchor {
    margin-bottom: 50px;
    position: relative;
  }
  
  .footer__anchor:hover .footer__logo--popper {
    transform: translateX(70px);
    opacity: 1;
  }